In [2]:
# libraries
import pandas as pd

In [29]:
location = 'C:/Users/unews/nss_data_science/data-question-1-unewsome/data/Age-specific fertility rates, Total fertility and .xls'
fert_df = pd.read_excel(location, skiprows=3)
fert_df.head(6)

,Country,ISO code,Period,Reference,Unnamed: 4,Total fertility,Age-specific fertility rates,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Mean age at childbearing,Source type,Source,Survey name,Note on country or population,Note on age,Note on methods,Note on population data used in denominator,Unnamed: 21
0,NaN,NaN,NaN,Year,Period,NaN,15-19,20-24,25-29,30-34,...,45-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,4.0,Around 1970,1973,1972-1973,8.21,168,359,355,307,...,81,30,Survey,National statistics,Afghanistan 1972-1974 National Demographic and...,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,4.0,..,1979,NaN,7.11,105,260,309,301,...,..,30.7,Census,National statistics,NaN,NaN,NaN,Adjusted estimate.,NaN,NaN
3,Afghanistan,4.0,Around 2005,2003,2000-2005,7.52,146,333,350,289,...,..,30.1,Survey,DHS,Afghanistan 2010 Mortality Survey,Excluding areas in the South zone.,NaN,Data pertain to the period of 5 to 9 years bef...,NaN,NaN
4,Afghanistan,4.0,Latest,2009,2007-2010,5.11,80,257,262,209,...,26,29.1,Survey,DHS,Afghanistan 2010 Mortality Survey,Excluding areas in the South zone.,NaN,NaN,NaN,NaN
5,Albania,8.0,Around 1970,1970,NaN,5.16,39,275,266,214,...,22,29.7,Registration,National statistics,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
fert_df.columns
##fert_df = fert_df[['Country', 'Reference ', 'Total fertility']]
#

Index(['Country', 'ISO code', 'Period', 'Reference ', 'Unnamed: 4',
       'Total fertility', 'Age-specific fertility rates', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Mean age at childbearing ', 'Source type', 'Source', 'Survey name',
       'Note on country or population', 'Note on age', 'Note on methods',
       'Note on population data used in denominator', 'Unnamed: 21'],
      dtype='object')

In [31]:
fert_df1 = fert_df[['Country', 'Reference ', 'Total fertility', 'Age-specific fertility rates','Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Mean age at childbearing ']]
fert_df1.columns = ['Country', 'Year', 'Total Fertility', 'Age-specific fertility rates 15-19', 'Age-specific fertility rates 20-24', 'Age-specific fertility rates 25-29', 'Age-specific fertility rates 30-34', 'Age-specific fertility rates 35 - 39', 'Age-specific fertility rates 40-45', 'Age-specific fertility rates 45-49', 'Mean Age at Childbearing' ]
fert_df1.head(1)

,Country,Year,Total Fertility,Age-specific fertility rates 15-19,Age-specific fertility rates 20-24,Age-specific fertility rates 25-29,Age-specific fertility rates 30-34,Age-specific fertility rates 35 - 39,Age-specific fertility rates 40-45,Age-specific fertility rates 45-49,Mean Age at Childbearing
0,NaN,Year,NaN,15-19,20-24,25-29,30-34,35-39,40-44,45-49,NaN

In [32]:
gdp_df = pd.read_csv('~/nss_data_science/data-question-1-unewsome/data/gdp_percapita.csv', nrows=6206)
internet_df = pd.read_csv('~/nss_data_science/data-question-1-unewsome/data/internet_use.csv', nrows=4495)
del gdp_df['Value Footnotes']
del internet_df['Value Footnotes']
gdp_df.columns=['Country','Year','GDP_Per_Capita']
internet_df.columns=['Country','Year','Internet_Users_Pct']
gdp_and_internet_use=pd.merge(gdp_df, internet_df, on = ['Country', 'Year'], how = 'outer')

In [38]:
fert_df1['Year']=fert_df1['Year'].apply(int)
fert_gdp_internet=pd.merge(gdp_and_internet_use, fert_df1, on = ['Country', 'Year'], how = 'outer')

ValueError: invalid literal for int() with base 10: 'Year'

In [36]:
?pd.concat

In [35]:
fert_gdp_internet=pd.concat(gdp_and_internet_use, fert_df1, on = ['Country', 'Year'], how = 'outer')
fert_gdp_internet.head()
fert_gdp_internet.shape

TypeError: concat() got an unexpected keyword argument 'on'